<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>CorrectAnswer</key>
			<string>Red</string>
			<key>Question</key>
			<string>What color is tomato?</string>
		</dict>
	</array>
</dict>
</plist>
